@model CommentSection.Models.Comment.Posted

<h2>Confirmar Exclusão</h2>

<p>Tem certez que deseja excluir o Post com o título: @Model.Title</p>


@using (Html.BeginForm("DeleteConfirmed", "Post", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <button class="btn btn-danger" type="submit">Excluir</button>
    <a class ="btn btn-secondary" href="@Url.Action("PostList", "Post")">Cancelar</a>
}

