@using CommentSection.Models.Comment
@model List<Posted>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta viewport="width=device-width" />
</head>

<body>  @*Essa aba representa uma página de postagens em fóruns e os campos de texto abaixo representam um post fixo onde os comentários e as respostas serão feitas*@
    <div>
        <p class="pt-3"><strong> Estudo e utilização de um AGV no ambiente industrial - Matheus Lessa </strong> há 3 horas</p> @*Pode ser substituido pela expressão DateTime.Now - Data criada quando em um Model*@
        <p>Este é o corpo da postagem, aqui vem os detalhes da postagem<p>
        <a href="/Post/PostList" class="btn btn-primary">
            Visualizar comentários
        </a>
    </div>
    <hr />
</body>
</html>