@using CommentSection.Models.Comment
@model List<Posted>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta viewport="width=device-width" />
</head>

<body>
    <div>
        <h3>Estudo e utilização de um AGV no ambiente industrial</h3>
        <p>Matheus Lessa</p>
        <hr />
        <h5>Este é o corpo da postagem, aqui vem os detalhes da postagem</h5>
        <h5> Postado em @DateTime.Now</h5>
        <p>@CommentSection.Models.Comment.PostData.posts.Count Comentários </p>
        <a href="/Post/PostList">Ver detalhes</a>
    </div>
</body>
</html>