@using CommentSection.Models.Comment
@model List<Posted>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta viewport ="width=device-width"/>
</head>

<body>
    <h1>Lista de comentários</h1>

    @foreach (var comment in Model)
    {
        @comment.Author;
        @comment.Description;
        <hr />
    }
</body>
</html>